    body {
        background-color: rgb(31, 31, 31) !important;
        color: blanchedalmond !important;
        margin: 0;
        width: 80vw;
        height: 80vh;
    }
    
    canvas {
        position: absolute;
    }
    
    img {
        position: absolute;
    }
    
    .rightAbsol {
        position: fixed !important;
        right: 0;
    }
    
    .dropdown-menu {
        background-color: transparent !important;
    }
    
    label {
        color: white;
    }
    
    @media screen and (orientation: portrait) {
        body {
            background-color: rgb(31, 31, 31) !important;
            color: blanchedalmond !important;
            margin: 0;
            width: 100vw;
            height: 90vh;
        }
        #is {
            display: none;
        }
        .cadre {
            padding: 10vw;
        }
    }